body {
  padding: 0;
  margin: 0;
  width: 8.5in;
  box-sizing: border-box;
}

h1 {
  font-size: 32pt;
  margin-left: -1pt;
  margin-top: -3pt;
  margin-bottom: -3pt;
}

h2 {
  font-size: 10pt;
  margin-top: 10pt;
  margin-bottom: 0;
}

/*.gray { color: #666; }*/

h3 {
  font-size: 11pt;
  margin-top: 5pt;
  margin-bottom: 3pt;
}

hr {
  margin: 5pt 0;
}

p, ul {
  margin-top: 3pt;
  margin-bottom: 0;
}

ul {
  padding-left: 20pt;
}

li + li {
  margin-top: 1pt;
}

ul.plain.pad {
  padding-left: 10pt;
}

.icon {
  width: 13pt;
  height: 13pt;
  margin-bottom: -2pt;
}

.schools li {
  white-space: nowrap;
}

#contact, #info {
  margin-bottom: 2pt;
}

.link {
  padding-left: 0.1in;
}

.year {
  padding-right: 4pt;
}
