html {
  background-color: gray;
  -webkit-text-size-adjust: none;
}

body {
  margin: 1rem auto;
  padding: 1.5rem;
  background-color: white;
  width: 8.5in;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1em;
  margin-top: 0.75em;
  margin-bottom: 0;
}

/*.gray { color: #555; }*/

h3 {
  font-size: 1.25em;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

hr {
  margin: 0.5rem 0;
}

p, ul {
  margin-top: 0.25em;
  margin-bottom: 0.4em;
}

ul {
  padding-left: 2em;
}

li + li {
  margin-top: 0.2em;
}

ul.plain.pad {
  padding-left: 1em;
}

.icon {
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

#contact, #info {
  margin-bottom: 0.2em;
}

.link {
  padding-left: 0.75em;
}

.year {
  padding-right: 0.3em;
}

.clip {
  margin-bottom: 0;
}
